@charset "utf-8";

#content {background:#a1dae8;height:1876px;}

.cato_wrap {width:100%;text-align:center;position:relative;top:100px;}
.cato_wrap img {margin:0 auto;width:320px;height:1776px;}

@media screen and (min-width:320px) and (min-height:568px) { 
/*320x568*/

#content {background:#a1dae8;height:1876px;}

.cato_wrap {width:100%;text-align:center;position:relative;top:100px;}
.cato_wrap img {margin:0 auto;width:320px;height:1776px;}
}

@media screen and (min-width:360px) { 
/*360x640*/

#content {background:#a1dae8;height:2098px;}

.cato_wrap {width:100%;text-align:center;position:relative;top:100px;}
.cato_wrap img {margin:0 auto;width:360px;height:1998px;}
}

@media screen and (min-width:375px) { 
/*375x667*/

#content {background:#a1dae8;height:2181px;}

.cato_wrap {width:100%;text-align:center;position:relative;top:100px;}
.cato_wrap img {margin:0 auto;width:375px;height:2081px;}
}

@media screen and (min-width:384px) { 
/*384x640*/

#content {background:#a1dae8;height:2231px;}

.cato_wrap {width:100%;text-align:center;position:relative;top:100px;}
.cato_wrap img {margin:0 auto;width:384px;height:2131px;}
}

@media screen and (min-width:412px) { 
/*412x732*/

#content {background:#a1dae8;height:2386px;}

.cato_wrap {width:100%;text-align:center;position:relative;top:100px;}
.cato_wrap img {margin:0 auto;width:412px;height:2286px;}
}
@media screen and (min-width:480px) {
/*480x800*/

#content {background:#a1dae8;height:2763px;}

.cato_wrap {width:100%;text-align:center;position:relative;top:100px;}
.cato_wrap img {margin:0 auto;width:480px;height:2663px;}
}
@media screen and (min-width:600px) {
/*600x960*/

#content {background:#a1dae8;height:3429px;}

.cato_wrap {width:100%;text-align:center;position:relative;top:100px;}
.cato_wrap img {margin:0 auto;width:600px;height:3329px;}
}

@media screen and (min-width:640px) {
/*640x960*/  

#content {background:#a1dae8;height:3651px;}

.cato_wrap {width:100%;text-align:center;position:relative;top:100px;}
.cato_wrap img {margin:0 auto;width:640px;height:3551px;}
}
@media screen and (min-width:640px) {
/*640x1136*/ 

}
@media screen and (min-width:720px) {
/*720x1280*/  

#content {background:#a1dae8;height:4095px;}

.cato_wrap {width:100%;text-align:center;position:relative;top:100px;}
.cato_wrap img {margin:0 auto;width:720px;height:3995px;}
}