@charset "utf-8";

#content {background:#a1dae8;height:520px;}

#info {position:relative;top:60px;padding:20px;}
.info_txt {font-size:15px;line-height:25px;color:#23527c;}

.graph {width:260px;margin:0 auto;position:relative;top:30px;}
.graph li .circle_line {width:200px;height:2px;background:#2a356b;
                        position:relative;top:40px;left:20px;box-sizing:border-box;}
.graph li.circle_graph {float:left;margin-right:10px;position:relative;}
.graph li.circle_graph:last-child {margin-right:0;}
.graph li.circle_graph .circle {width:80px;height:80px;background:#2a356b;border-radius:50%;}
.graph li.circle_graph .circle p {color:#fff;line-height:20px;font-size:13px;text-align:center;
                                  padding:18px 0;}

.graph_logo {position:relative;}
.graph_logo img.logo2 {display:block;margin:0 auto;position:relative;top:50px;text-align:center;width:150px;height:35px;}